*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #b5b5b8;
    display: flex;
    flex-direction: column;

}
main{
    height: 200vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display:relative;
    
}
.raindrops{
    z-index: -10;
    position: fixed;
    object-fit: cover;
    
}
.main-sections{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    display: inline;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    
}
.main-headings{
    text-shadow: 0 10px 10px #1c1f33;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    color: white;
    
}
.section-text{
    padding: 1%;
    width: 60%;
    text-align: center;
    display: flex;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: white;
    background: #1c1f3383;
    box-shadow: 0 5px 5px white;
    line-height: 35px;
    

}
#initials{
    font-family: 'Damion', cursive;
    display: block;
    margin-bottom: 130px;
    color:white;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 10px 10px #1c1f33;
    margin-top: 20%;
}
.side-nav {
    width: 250px;
    height:100%;
    background: linear-gradient(to top,#1c1f33, 80%, White);       
    Position: fixed;
    Top:0;
    Left:0;
    Padding: 20px 30px;
    box-shadow: 0 10px 0px #1c1f33

}
.nav-links{
    list-style: None;
    position: relative;
}
.nav-links li a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 20px 20px #1c1f33;
}
.proj {
    
    position: absolute;
    
    display: none;
    list-style-type: none;
    margin-left: 200px;
    margin-top: -120px;
    background: linear-gradient(to top,#35384a, 80%, #484c63);
    border-radius: 5%;
    

}

.nav-links .proj li a{
    display: block;
    width: 10vw;
    font-size: 20px;
    text-align: left;
    
}


.portrait{
    position: relative;
}
#tech-logos{
    width: 30%
}

#jm-pic {
    width: 160px;
    height: auto;
    position: fixed;
    top: 0px;
    right:0px;
    box-shadow: 0 20px 20px #1c1f33;
    
}

.active{
    background: #1c1f3321;
    width: 100%;
    height: 67px;
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px white;
    display: none;
    transition: 0.5s;
}

.nav-links li:hover a{
    color: white;
    transition: 0.3s;
}

.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~ .active {
    top: 2.6%
}

.nav-links li:nth-child(2):hover ~ .active {
    top: 22.6%
}
.nav-links li:nth-child(3):hover ~ .active {
    top: 42.6%
}
.nav-links li:nth-child(4):hover ~ .active {
    top: 62.6% 
}

.nav-links li:nth-child(5):hover ~ .active {
    top: 82.6% 
}
.rez-pages{
    display:inline;
    width: 32%;
    justify-content: center;
}
.resume {
    position: relative; 
}
#links{
    background: #1c1f3384;
    list-style: none;
    width: 20%;
    bottom: 5%;
    border-radius: 100%;
    box-shadow: 0 10px 10px white;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
#links a{
    text-decoration: none;
    color: white;

}
#resume{
    display: none;
    position: absolute;
    top: 0
}

#contacts{
    background-color: #1c1f3384;
    color: white;
    text-align: center;
    width: 40%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: inline;
    box-shadow: 0 10px 10px white;
    border-radius: 100%;
    display: none;
}
#contacts a{
    color: white;
    text-decoration: none;
}
#close-rez{
    background-color: #1c1f33;
    color: white;
    font-family: 'Caveat', cursive;
    width:8%;
    Height: 40px;
    font-size: large;
}


#drop{
    display: grid;
    grid-template-rows: 30% 70%;
    justify-content: center;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    z-index: 5;
    max-height: 100vh;
    position: fixed;

}
#drop .back-video{
    z-index: -2;
    position: fixed;
    align-items: center;
    background-position: center;

}
#drop #welcome{
    z-index: 1;
    color: white;
    align-items: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
#drop #p-drop{
    margin-bottom:40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
      
}

#drop #drop-button{
    background-color: #9B7874;
    color: White;
    Height: 150%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
    cursor: pointer;
    position: relative;
    justify-content: center;
    
}
#drop #jm-header{
    font-family: 'Caveat', cursive;
    color:#9B7874;
    font-size: 500%;
    width: 75vw;
    text-align: center;
    text-decoration: underline;
    align-items: center;
    text-shadow: 0 5px 5px white;
    

}
#drop-close{
    display: none;
}
#resume-show{
    display: block;
}
@media screen and (max-width: 500px) {
    #jm-pic{
        width: 20vw;
        left: 20px;
        top: 100px;
    }
    .side-nav{
        width: 120px;
        
    }
    .nav-links li a{
        font-size: 18px;
        
    }
    #initials {
        font-size: 45px;
    }.main-sections {
        width: 60vw;
        margin-left: 20%;
    }.main-headings{
        width: 60vw;
        font-size: 36px;
        margin-left: 40%;
    }.section-text{
        width: 90%;
        margin-left: 40%;
        font-size: 16px;
    }
    .active {
        display: none;
    }
    main{
        height: 250vh;
    }
    .raindrops{
        height: 110%
    }
    #contacts{
        width: 60vw;
        border-radius: 25%;
        margin-left:50%
    }
    #contacts a {
        font-size: 20px;
    }
    #links{
        width: 60vw;
        border-radius: 25%;
        margin-left:50%
    }
    #links a{
        font-size: 24px;
        
    }
    #tech-logos{
        margin-left: 50%;
        width: 60%
    }
    .proj {
        margin-left: 140%;
        width: 160%;
        
        
    }
    .nav-links .proj li a{
        font-size: 16px;
        
    }
    .rez-pages {
        display: block;
        width: 140%;
        margin-left: -25%
    }
    #close-rez {
        width: 50%
    }
    
}

@media screen and (min-width: 501px) {
    #jm-pic{
        width: 12vw;
        left: 40px;
        top: 150px;
    }
    .side-nav{
        width: 180px;
        
    }
    .nav-links li a{
        font-size: 18px;
        
    }
    .nav-links{
        margin-top: 250px;
    }
    #initials {
        font-size: 45px;
    }.main-sections {
        width: 60vw;
        margin-left: 20%;
    }.main-headings{
        width: 60vw;
        font-size: 36px;
        margin-left: 40%;
    }.section-text{
        width: 90%;
        margin-left: 40%;
        font-size: 16px;
    }
    .active {
        visibility: hidden;
    }
    main{
        height: 150vh;
    }
    .raindrops{
        height: 110%
    }
    #contacts{
        width: 60vw;
        border-radius: 25%;
        margin-left:50%
    }
    #contacts a {
        font-size: 20px;
    }
    #links{
        width: 60vw;
        border-radius: 25%;
        margin-left:50%
    }
    #links a{
        font-size: 24px;
        
    }
    #tech-logos{
        margin-left: 50%;
        width: 60%
    }
    .proj {
        margin-left: 140%;
        width: 160%;
        
        
    }
    .nav-links .proj li a{
        font-size: 16px;
        
    }
    .rez-pages {
        display: block;
        width: 140%;
        margin-left: -20%
    }
    #close-rez {
        width: 50%
    }
    
}